footer.terminal {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}

.button-spacing {
    margin-top: 1em;
    text-align: center;
}

form label.centered {
    text-align: center;
}

/* source http://www.colourlovers.com/palette/1231651/Fantasia_Hippo */
.button-success {
    background: #20FC90; /* this is a green */
}

.button-error {
    background: #FC70C2; /* this is a red */
}

.button-warning {
    background: #FFD637; /* this is an orange */
}

.button-primary {
    background: #76D8FF;
}

.form-label-aligned label {
    text-align: right;
    margin-right: 0.3em;
}

.pure-form input, .pure-form select {
    margin-bottom: 0.3em;
}

.pure-form label {
    display: block;
    margin-bottom: 0.3em;
}

.top-menu {
    margin-bottom: 0.6em;
    font-size: 140%;
}

.checkable-listing input[type=radio] {
    margin-right: 1em;
}

h2 {
    font-weight: 100;
}

.webcomponent form {
    margin: 0 0.6em 1em;
}

.small-footnotes {
    margin-top: 0.6em;
    font-size: 80%;
    text-align: center;
}