.content {
    margin: 0.6em;
}

footer.terminal {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}

.button-spacing {
    margin-top: 1em;
    text-align: center;
}

form label.centered {
    text-align: center;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
    color: white;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a red */
    color: white;
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
    color: white;
}

.form-label-aligned label {
    text-align: right;
    margin-right: 0.3em;
}

.pure-form input, .pure-form select {
    margin-bottom: 0.3em;
}

.pure-form label {
    display: block;
    margin-bottom: 0.3em;
}

.char-list {
    margin-right: 1em;
    margin-bottom: 1em;
}

.top-menu {
    margin-bottom: 0.6em;
}

.v-spacing {
    margin-bottom: 0.5em;
}

h2 {
    font-weight: 100;
}

content-detail section, content-detail header {
    margin-bottom: 1em;
}