.exported h1, .exported h2 {
    font-weight: 100;
    text-transform: capitalize;
}

.content {
    margin: 1em;
}

@media print{
    .top-menu {
        display:none;
    }
    body {
        font-size: 60%;
    }
}